*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SVN Harabaras",Sans-serif;;
}
:root{
    --colortext: #fff;
    --background: #55c6b4;
    --minweight: #a0e1d6;
}
p{
    text-align: justify;
}
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    /* background-image: linear-gradient(#355c7d, #6c5b7b, #c06c84); */
    background: linear-gradient(0deg, rgb(38 114 160) 0%, rgba(52,73,94,1) 50%, rgba(80,114,167,1) 100%);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 2;
}
.profile {
    text-align: center;
}
.profile img{
    width: 150px;
    border-radius: 50%;
    border: 5px solid #aad7cb99;
}
.profile h1{
    color: var(--colortext);
    font-weight: 600;
    padding: 10px 0 10px 0;
    text-shadow: 2px 1px 7px wheat;
}
.profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: antiquewhite;
    color: #304766;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
.profile .social-icons a:hover{
    background-color: #a0cdd2;
}
header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: var(--colortext);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: #F7C800;
}
header nav ul li .active i{
    color: #F7C800;
}
.home-row span{
    color: #F7C800;
}
.footer{
    text-align: center;
    background: linear-gradient(127deg, rgb(38 114 160) 0%, rgba(52,73,94,1) 50%, rgba(80,114,167,1) 100%);
    width: 300px;
    color: var(--colortext);
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

/* Menu mobile */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: var(--colortext);
    background: linear-gradient(127deg, rgb(38 114 160) 0%, rgba(52,73,94,1) 50%, rgba(80,114,167,1) 100%);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 3;
}
@media only screen and (max-width: 1050px){
    header, .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
.mobile-nav-active header,
.mobile-nav-active footer{
    left: 0;
}

/* BODY */
main{
    margin-left: 300px;
    background-color: #fff;
    transition: 0.3s;
}
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* Home section */
#home{
    height: 100vh;
    width: 100%;
    background-image: url(../images/fffff-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}
#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    position: absolute;
    top: 0;
    left: 0;
}
#home .home-row{
    z-index: 1;
}
#home .home-row h2{
    font-size: 60px;
    color: var(--colortext);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}
#home .home-row p{
    font-size: 30px;
    color: var(--colortext);
    font-weight: 400;
}
#home .home-row .auto-input{
    border-bottom: 4px solid #e7b920;
}
@media only screen and (max-width: 670px){
    main{
        margin-left: 0;
    }
    #home .home-row h2{
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
    }
    #home .home-row p{
        font-size: 18px;
        font-weight: 400;
    }
    #home .home-row h2 br{
        display: none;
    }
    #home .home-row .auto-input{
        border-bottom: 2px solid #e7b920;
    }
}

/* About */
#about{
    position: relative;
    padding: 70px 30px;
    background-color: #F7C800;
}
#about svg{
    fill: #F7C800;
    width: 100%;
    height: 32px;
    top: 100%;
    position: absolute;
    left: 0;
}
.sub-heading{
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}
.divider{
    width: 80px;
    height: 4px;
    background-color: #353535;
    border-radius: 3px;
}
#about .divider ~ p,
.sub-para{
    color: #000;
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 25px;
}
#about .about-col{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
#about .about-col .img-col{
    flex-basis: 35%;
    text-align: center;
}
#about .about-col .img-col img{
    width: 80%;
    height: 300px;
    border-radius: 50px;
}
#about .about-col .info-col{
    flex-basis: 70%;
}
#about .about-col .info-col h2{
    color: #000;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}
#about .about-col .info-col p{
    color: #000;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}
#about .about-col .info-col .icon-list-col{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
#about .about-col .info-col .icon-list-col .icon-list ul li {
    list-style: none;
    margin: 15px 0;
}
#about .about-col .info-col .icon-list-col .icon-list ul li i{
    color: #353535;
}
#about .about-col .info-col .icon-list-col .icon-list ul li strong{
    color: #000;
    font-weight: 600;
    margin-right: 2px;
    padding-left: 10px;
}
#about .about-col .info-col .icon-list-col .icon-list ul li span{
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
#about .about-col .info-col .icon-list-col .icon-list ul li span a{
    color: #000;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}
/* Mobile */
@media only screen and (max-width: 767px){
    #about{
        padding: 50px 10px;
    }
    #about .divider ~ p{
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }
    #about .about-col{
        flex-direction: column;
    }
    #about .about-col .img-col img{
        width: 100%;
    }
    #about .about-col .info-col h2{
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0;
    }
    #about .about-col .info-col p{
        font-size: 14px;
        letter-spacing: 0px;
    }
    #about .about-col .info-col .icon-list-col {
        display: unset;
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    #about .about-col{
        flex-direction: column;
    }
    #about .about-col .img-col img {
        width: 50%;
    }
}

/* Skill */
#skill{
    padding: 70px 30px;
    background-color: var(--colortext);
}
.skill-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    text-align: center;
}
.skill-box .img-content{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .22);
}
.skill-box .img-content img{
    max-width: 100%;
    height: 200px;
    padding-top: 10px;
}
.skill-box .img-content h3{
    padding-bottom: 10px;
}

/* Mobile */
@media only screen and (max-width: 767px){
    .skill-box{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    .skill-box{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Project */
#resume{
    padding: 50px 30px;
    background-color: #F7C800;
    position: relative;
}
#resume .svg-top svg{
    fill: #f7c800;
    width: 100%;
    height: 32px;
    top: 0%;
    position: absolute;
    left: 0;
}
#resume .svg-top svg path{
    fill: #fff;
    transform-origin: center;
    transform: rotateY(0deg);
}
#resume .svg-bottom svg{
    fill: #F7C800;
    width: 100%;
    height: 32px;
    top: 100%;
    position: absolute;
    left: 0;
}
#resume .resume-row{
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;
}
#resume .resume-row .resume-cols{
    flex-basis: 50%;
}
#resume .resume-row .resume-cols h2{
    color: #000;
    font-weight: 600;
    font-size: 25px;
    margin: 15px 0;
}
#resume .resume-row .resume-cols .my-projects{
    padding: 0 20px 0 20px;
    margin: 20px 0;
    border-left: 2px solid #e7b920;
    position: relative;
}
#resume .resume-row .resume-cols .my-projects::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #e7b920;
    background-color: var(--colortext);
}
#resume .resume-row .resume-cols h3{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
#resume .resume-row .resume-cols .sp-box{
    padding: 4px 22px;
    background-color: lightblue;
    color: #353535;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display: inline-block;
}
#resume .resume-row .resume-cols .pro-exp{
    padding: 0 20px 30px;
    border-left: 2px solid rgb(38 114 160);
    position: relative;
}
#resume .resume-row .resume-cols .pro-exp::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(38 114 160);
    background-color: #F7C800;
}
#resume .resume-row .resume-cols .pro-exp p{
    color: #000;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
}
#resume .resume-row .resume-cols .pro-exp ul li{
    margin: 10px 0;
    margin-left: 20px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
#resume .resume-row .resume-cols .pro-exp a{
    color: #000;
    font-size: 17px;
    font-style: italic;
}

/* Mobile */
@media screen and (max-width:767px){
    #resume {
        padding: 50px 15px;
    }
    #resume .resume-row {
        /* grid-template-columns: 1fr; */
        flex-direction: column;
    }
    #resume .resume-row .resume-cols{
        flex-basis: 100%;
    }
}


/* landing-page */
.landing-page{
    padding: 70px 30px;
    background-color: var(--colortext);
}
.content-landingpage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
}
.content-landingpage > div{
    padding-top: 20px;
}
.content-landingpage h3{
    padding: 20px 0 20px 0;
    text-align: center;
}
.content-landingpage img{
    width: 100%;
    border-radius: 20px;
}
.content-landingpage .landing-page2 img{
    height: 1200px;
}

/* Mobile */
@media screen and (max-width:767px){
    .content-landingpage{
        grid-template-columns: 1fr;
    }
}
